streamlit #app
google-generativeai #genaifrom google
python-dotenv #to env
langchain # read the pdf
PyPDF2 #read the pdf
faiss-cpu #processing
langchain_google_genai #help of lang chain acess of gen ai
